div.directory_entry {
  margin-bottom: 1em;
  float: left;
  min-height: 25em !important;
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    div.directory_entry {
      float: left;
      width: 50%; } }
  @media (min-width: 992px) {
    div.directory_entry {
      float: left;
      width: 33.3333333333%; } }
  @media (min-width: 1200px) {
    div.directory_entry {
      float: left;
      width: 29.1666666667%; } }
  div.directory_entry p {
    margin: 0 !important; }
  @media (max-width: 767px) {
    div.directory_entry .person_info {
      float: left;
      display: block;
      margin-left: 30px; } }
  div.directory_entry img {
    margin-bottom: 30px;
    /* Left/Right on phone breakpoint; two across on tablet */ }
    @media (max-width: 767px) {
      div.directory_entry img {
        max-width: 40%;
        float: left;
        display: block; } }
  div.directory_entry .initials {
    width: 100%;
    height: 0;
    padding-bottom: 70%;
    padding-top: 30%;
    font-size: 3em;
    font-family: "UniversCondensed", Arial, sans-serif;
    text-align: center;
    background-color: #ddd;
    margin-bottom: 28px; }

#directory-index .index-nav {
  clear: both;
  text-align: center; }

#person {
  clear: both; }
  #person img {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 992px) {
      #person img {
        float: left;
        width: 25%; } }
  #person .person_info {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 992px) {
      #person .person_info {
        float: left;
        width: 50%; } }
    #person .person_info p {
      margin: 0; }
  #person .bio {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    clear: both; }
    @media (min-width: 992px) {
      #person .bio {
        float: left;
        width: 83.3333333333%; } }
